# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Database (Local Binary)
# We ignore the active .sqlite file because it changes constantly
sec2_gr14_ws_src/data/*.sqlite
server/data/*.sqlite
*.db

# Submission Files (Required)
!sec2_gr14_database.sql

# OS files
.DS_Store
Thumbs.db
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary & Helper files
tools/

# Postman Collections & Environments
scratch/
nul
*.bak
*.tmp

